$font-size: 10px;
$main-font: 'Fira Code', monospace;
$border-radius: 4px;
$backgroundBase: hsl(180, 24%, 62%);
$dark-accent: hsl(180, 38%, 46%);
$light-accent: hsl(180, 24%, 80%);

:root {
  --font-size: #{$font-size};
  --main-font: #{$main-font};
  --border-radius: #{$border-radius};
  --background-base: #{$backgroundBase};
  --dark-accent: #{$dark-accent};
  --light-accent: #{$light-accent};
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);

  @media screen and (max-width: 1200px) {
    font-size: 60%;
  }

  @media screen and (max-width: 980px) {
    font-size: 58%;
  }

  @media screen and (max-width: 480px) {
    font-size: 55%;
  }
}

body {
  font: 1.6rem/1.4 normal var(--main-font);
  background: var(--background-base);
}
